$main: #00AE92;
$secondary: #649493;
$darker: #097967;

*, *:before, *:after{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body{
	background: $main;
	width: 100%;
	color: #fff;
	font:{
		family: Arial;
		size: 14px;
	}

	margin: 0;
	padding: 0;
	a{
		text-decoration: none;
	}
}

h1{
	font:{
		size: 40px;
		weight: normal;
	}
	color: $darker;
	margin: 0 0 20px 0;
	padding: 0;
	width: 100%;
	text-align: center;
	line-height: 50px;
}

header{
	width: 100%;
	float: left;
	margin-top: 40px;

	#logo{
		margin-right: 10px;
	}
}

#flash{
	top: 0;
	width: 50%;
	background: rgba(black, .5);
	color: #fff;
	margin: 0 0 0 25%;
	border-radius: 0 0 5px 5px;
	text-align: center;
	padding: 20px 0;
	position: absolute;
	font-weight: bold;
}

h2{
	text-align: center;
	width: 100%;
	margin: 5px;
}
span{
	float: left;
	text-align: center;
	width: 100%;
	margin: 0 0 15px 0;
}

#wrapper{
	clear: both;
	width: 500px;
	margin: 40px auto;
	padding: 0;
}

#add_form{
	float: left;
	width: 100%;
	// background: #fff;
	// border: 5px solid #;
	border-radius: 5px;
	margin: 20px 0 20px 0;
	padding: 10px;
	// box-shadow: 1px 1px 10px rgba(black, .4);

	input[type="url"]{
		width: calc(100% - 40px);
		font-size: 16px;
		color: #555;
		border: 1px solid $main;
		border-radius: 3px;
		padding: 10px;
		float: left;
		margin: 0 5px 7px 0;
		box-shadow: 2px 2px 0px $darker;
	}

	input:required:invalid, input:focus:invalid{
		background-image: url(/imgs/invalid.png);
		background-position: right center;
		background-repeat: no-repeat;
	}
	input:required:valid {
		background-image: url(/imgs/valid.png);
		background-position: right center;
		background-repeat: no-repeat;
	}

	label{
		float: left;
		min-width: 40px;
		margin: 7px 10px 0 0;
		text-align: right;
	}

	#list{
		float: left;
		width: 100%;
		-webkit-transition: all .5s ease-in-out;

		.link{
			float: left;
			width: 100%;
			padding: 0;
			margin: 0 0 5px 0;
		}

		.division{
			float: left;
			width: 100%;
		}

	}

	#buttons{
		// float: left;
		margin: 0 auto;
		width: 150px;
		height: 40px;

		input[type="button"], input[type="submit"]{
			margin-top: 20px;
			width: 48px;
			height: 48px;
			border-radius: 24px;
			border: none;
			font-size: 14px;
			cursor: pointer;
			padding: 10px 20px;
		}

		input[type="submit"]{
			background: $darker url('../imgs/ok.png') center center no-repeat;
			color: #fff;
		}

		input[type="button"]:hover, input[type="submit"]:hover{
			background-color: rgba($darker, .7);
		}

		#add_link_list{
			// padding-top: 5px;
			float: right;

			background: #f1f1f1 url('../imgs/add.png') center center no-repeat;
			color: $darker;
			font:{
				size: 20px;
				weight: bold;
			}

			&:hover{
				background-color: rgba(white, .8);
			}

		}

	}
}

.remove{
	float: right;
	// border: 1px solid $main;
	border: none;
	// border-bottom: 5px solid $secondary;
	background: #935454 url('../imgs/remove.png') center center no-repeat;
	color: $main;
	font-size: 18px;
	margin: 5px 0 0 0;
	// text-shadow: 0 1px 0px hsla(0, 0, 100%, .5);
	cursor: pointer;
	// padding: 9px 20px;
	border-radius: 15px;
	width: 30px;
	height: 30px;

	&:hover{
		background-color: #9E5D5D;
	}
}

#by{
	float: left;
	margin-top: 10px;
	width: 100%;
	text-align: center;
	color: rgba(black, .5);
	// letter-spacing: 0px;
	font:{
		style: italic;
		size: 14px;
	}

	a{
		color: rgba(black, .5);
		text-decoration: underline;
	}
}

#shortcut {
  clear: both;
  width: 50%;
  padding: 10px 5px;
  border-radius: 3px;
  margin: 60px auto 0 auto;
  text-align: center;
  color: $darker;
  background: #e1e1e1;
}