@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,800,400italic);
html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  background: #c6e6e6;
  color: #333;
  font-family: 'Merriweather Sans', sans-serif; }

a {
  text-decoration: none;
  border: none; }

#wrapper {
  float: left;
  width: 100%;
  padding: 0; }

#content {
  width: 70%;
  margin: 100px auto; }

#title {
  text-align: center; }
  #title h1 {
    font-size: 90px;
    margin: 0; }
  #title span {
    font-size: 25px; }

#download {
  margin: 100px auto;
  width: 300px;
  height: 100px;
  font-size: 40px; }
  #download a {
    float: left;
    margin: 0 auto;
    color: #649493;
    padding: 10px 0;
    width: 300px;
    text-align: center;
    background: #95d0d0;
    border-radius: 3px;
    border-bottom: 10px solid #649493;
    text-shadow: 0 1px 0px #c6e6e6; }
  #download a:hover {
    border-bottom-width: 5px;
    margin-top: 5px; }

#about {
  float: left;
  width: 100%;
  color: #777;
  text-align: center; }
  #about a {
    color: #777;
    font-style: italic;
    border-bottom: 1px dashed #777; }

/* Default class for an overlay */
#download_options {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 20%;
  width: 30%;
  background: #fff;
  opacity: 0.8;
  display: none;
  text-align: center;
  border-radius: 5px; }
  #download_options span {
    float: left;
    width: 100%; }

/* Default class for modal window */
.modal {
  left: 50%;
  top: 50px;
  position: fixed;
  width: 300px;
  height: 300px; }
